server:
  port: 9998

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
    h2:
      console:
        enabled: true
        path: /h2-console

jwt:
  secret: ${JWT_SECRET:mySuperSecretKeyThatIsAtLeast32BytesLong!}
  expiration: ${JWT_EXPIRATION:3600000} # 1 час в миллисекундах

eureka:
  client:
    initial-instance-info-replication-interval-seconds: 5
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://${EUREKA_LOGIN}:${EUREKA_PASSWORD}@localhost:9996/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

logging:
  level:
    org.springframework.security: DEBUG
    org.mifistudy.grechko.bookingsevice: DEBUG

feign:
  client:
    config:
      default: # Глобальные настройки для всех Feign клиентов
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: basic
      hotel-service: # Настройки конкретно для hotel-service
        connectTimeout: 3000
        readTimeout: 8000
        loggerLevel: full

# Настройки Retry
resilience4j:
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 500ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
    instances:
      hotel-service:
        baseConfig: default

management:
  endpoints:
    web:
      exposure:
        include: health,info