server:
  port: 9997

spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:h2:mem:hotelsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
    h2:
      console:
        enabled: true
        path: /h2-console

jwt:
  secret: ${JWT_SECRET:mySuperSecretKeyThatIsAtLeast32BytesLong!}
  expiration: ${JWT_EXPIRATION:3600000}


eureka:
  client:
    initial-instance-info-replication-interval-seconds: 5
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://${EUREKA_LOGIN}:${EUREKA_PASSWORD}@localhost:9996/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

logging:
  level:
    org.springframework.security: DEBUG
    org.mifistudy.grechko.hotelservice: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info